
body{
    margin: 1px;
    margin-top: 1px;
    border: 2px solid black ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center

}
.headers{
    width: 100vw;
    margin: 1em;
    margin-top: 1,5em;
    border: 2px solid black ;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav{
    margin: 1em;
    margin-top: 1,5em;
    border: 2px solid black ;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1em;
}

#aboutMe{
    width: 100vw;
    margin: 1em;
    margin-top: 1,5em;
    border: 2px solid black ;
    padding: 2em;
}
img {
    width: 100%;
  }
.container{
    width: 100vw;
    margin: 1em;
    margin-top: 1,5em;
    border: 2px solid black ;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cards{
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border-radius: 10px;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

.activity{
    width: 100vw;
    margin: 1em;
    margin-top: 1,5em;
    padding: 2em;
    border: 2px solid black ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.class_footer{
    width: 100vw;
    margin: 1em;
    display: flex;
   flex-direction: row;
   justify-content: center;
   box-sizing: border-box;
}
